.glavniDiv{
    padding-top: 150px;
    padding-left: 24px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.naslov{
    font-size: 90px;
    font-weight: 600;
    font-family: 'Goudy Old Style';
    font-style: italic;
    color: rgb(123, 224, 224);
}

.paragraf{
    font-size: 30px;
    font-family: 'Century Gothic';
    color:white;
}