body{
    margin: 0;
    padding: 0;
}

.navContainer{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
}

.logo{
    font-size: 70px;
    font-weight: 600;
    font-family: 'Goudy Old Style';
    font-style: italic;
    color: rgb(123, 224, 224);
    margin:30px;
    padding: 0px;
    line-height: 80px;
}

.dugme{
    width: 150px;
    height: 60px;
    background-color:rgb(123, 224, 224); 
    color: rgb(36, 33, 33);
    border-color: teal;
    transition-duration: 0.2s;
    padding: 15px;
    margin: 5px;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.dugme:hover{
    background-color: rgb(86, 160, 160);
    color: rgb(255, 255, 255);
}